
.vs/slnx.sqlite
.vs/azariah15yocoder.github.io/FileContentIndex/5485d6b4-1d8e-4d74-9b1e-a7650f851ea7.vsidx
.vs/azariah15yocoder.github.io/FileContentIndex/read.lock
.vs/azariah15yocoder.github.io/FileContentIndex/d0fd7562-762f-49e9-93e7-111656b498e0.vsidx
.vs/azariah15yocoder.github.io/FileContentIndex/0545f106-da7c-403b-a0c4-1decb309305a.vsidx
.vs/ProjectSettings.json
.vs/azariah15yocoder.github.io/FileContentIndex/1a8ea4b7-705f-4b91-8f29-db1f2078ac1f.vsidx
