/*body {
    background-color: #808080;
    overflow-x: hidden;
    background-image: url(happyDaysReplacement.png);
    background-repeat: repeat;
    background-position: -200px 200px;
    background-size: auto;
    background-attachment: fixed;
    color: black !important;
}

h1 {
    font-size: 2.5em;
    font-family: 'Ink Free', sans-serif;
}

p {
    font-size: 2.5em;
    font-family: 'Ink Free', sans-serif;
    line-height: 50px;
}

h2 {
    font-size: 2.0em;
    font-family: 'Ink Free', sans-serif; /*this code was written for the meet our bunnies page*//*
}

h3 {
    font-size: 1.5em;
    font-family: 'Ink Free', sans-serif;
}

h4 {
    font-size: 1.0em;
    font-family: 'Ink Free', sans-serif;
}

h5 {
    font-size: 0.7em;
    font-family: 'Ink Free', sans-serif;
}

h6 {
    font-size: 0.5em;
    font-family: 'Ink Free', sans-serif;
}

img {
    margin-right: 20px;
    float: right;
}

div {
    max-width: 1200px;
    height: 800px;
    font-size: 2em;
    font-family: Arial;
    background-color: rgba(192,192,192,0.5);
    position: absolute;
    left: 70px;
    /*bottom: 75px;*//*
    bottom: 30px; /* a test of position*//*
}

.inner-container {
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner-container::-webkit-scrollbar {
    display: none;
}

header {
    padding-bottom: 150px;
}

.hilightme {
    background-color: #ffd800;
}

.indent {
    padding-left: 50px;
}*/

@media screen and (min-width: 1330px) { /*edit 1*/
    body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        position: absolute;
        left: 1340px;
        bottom: 55px; 
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 680px) { /*edit 2*/
    body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        position: absolute;
        left: 1340px;
        bottom: 55px; 
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (min-width: 1280px) { /*edit 3*/
    body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        position: absolute;
        left: 1340px;
        bottom: 55px; 
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (max-width 480px) or screen and (min-width: 480px) { /*edit 4*//*added a bit of a conditional to it*/
      body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        margin-right: 20px;
        float: right;
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (min-width: 817px) and (min-height: 329px) { /*based off of LG phone*/ /*edit 5*/
    body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        position: absolute;
        left: 1340px;
        bottom: 55px; 
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (min-width: 800px) and (min-height: 1160px) { /*edit 6*/ /*I think this is the tablet?????*/
    body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        position: absolute;
        left: 1340px;
        bottom: 55px; 
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        bottom: 30px;
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}

@media screen and (min-width: 800px) { /*edit 7*/ /*when not sure what to do with the tablet*/
      body {
        background-color: #808080;
        overflow-x: hidden;
        background-image: url(happyDaysReplacement.png);
        background-repeat: repeat;
        background-position: -200px 200px;
        background-size: auto;
        background-attachment: fixed;
        color: black !important;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
    }

    p {
        font-size: 2.5em;
        font-family: 'Ink Free', sans-serif;
        line-height: 50px;
    }

    h2 {
        font-size: 2.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h3 {
        font-size: 1.5em;
        font-family: 'Ink Free', sans-serif;
    }

    h4 {
        font-size: 1.0em;
        font-family: 'Ink Free', sans-serif;
    }

    h5 {
        font-size: 0.7em;
        font-family: 'Ink Free', sans-serif;
    }

    h6 {
        font-size: 0.5em;
        font-family: 'Ink Free', sans-serif;
    }

    img {
        margin-right: 20px;
        float: right;
    }

    div {
        max-width: 1200px;
        height: 800px;
        font-size: 2em;
        font-family: Arial;
        background-color: rgba(192,192,192,0.5);
        position: absolute;
        left: 70px;
        /*bottom: 75px;*/
        bottom: 30px; /* a test of position*/
    }

    .inner-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .inner-container::-webkit-scrollbar {
        display: none;
    }

    header {
        padding-bottom: 150px;
    }

    .hilightme {
        background-color: #ffd800;
    }

    .indent {
        padding-left: 50px;
    }
}
